<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
</head>

<body class="app-upload model-user change-form" data-admin-utc-offset="0">
    <!-- Container -->
    <div id="container">
        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1 id="HomeSite">
                    <a href="/">Home Page</a>
                </h1>
            </div>
            <div id="user-tools">
                WELCOME,
                <strong>{{ username }}</strong>
                <a href="/accounts/profile"><strong>Return</strong></a>
            </div>
        </div>
        <!-- END Header -->
        <div class="breadcrumbs">
            <label style="color: #fff;">Copyright@liucl14@mails.tsinghua.edu.cn</label>
        </div>
        <!-- Content -->
        <div id="content" class = "colM">
            <h1><strong>{{ username }}</strong></h1>
            <div id="content-main">
                <form method="post" enctype="multipart/form-data" id="user_form" novalidate>
                {% csrf_token %}
                    <div>
                        <fieldset class="module aligned ">
                            <div class="form-row field-password">
                                <div>
                                    <label class="required" for="id_oldpassword">Old Password:</label>
                                    <input class="vTextField" id="id_oldpassword" maxlength="150" name="oldpassword" type="Password" value="" required="">
                                    {% if old_error %}
                                    <p style="color: red;">Password wrong!</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-row field-password">
                                <div>
                                    <label for="id_newpassword1">New Password:</label>
                                    <input class="vTextField" id="id_newpassword1" maxlength="254" name="newpassword1" type="Password" value="">
                                    {% if new_type_error %}
                                    <p style="color: red;">Required. 4~150. Letters, digits and @/./+/-/_ only.</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-row field-password">
                                <div>
                                    <label for="id_newpassword2">Repeat Password:</label>
                                    <input class="vTextField" id="id_newpassword2" maxlength="254" name="newpassword2" type="Password" value="">
                                    {% if consistency_error %}
                                    <p style="color: red;">This password is not the same as
                                    that above.</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="submit-row">
                                <input type="submit" value="Submit" class="default" name="_save" style="float: left;">
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
            <br class="clear">
        </div>
        <!-- END Content -->
    </div>
    <!-- END Container -->
</body>
</html>