<!DOCTYPE html>
<html>
<head>
    <title>Congratulations!</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
</head>

<body class="app-upload model-user change-form" data-admin-utc-offset="0">
    <!-- Container -->
    <div id="container">
        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1 id="HomeSite">
                    <a href="/">Return Home Page</a>
                </h1>
            </div>
            <div>
                <h2 style="color: #fff;float: right;">{{ word }}</h2>
            </div>
        </div>
        <!-- END Header -->
        <div class="breadcrumbs">
            <label style="color: #fff;">Copyright@liucl14@mails.tsinghua.edu.cn</label>
        </div>
    </div>
    <!-- END Container -->
</body>
</html>